body{
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);  
}

article{
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  max-width: 736px;
  border-radius: 24px;
  padding: 0 40px 40px 40px;
  overflow: hidden;  
  
}
.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 24px 24px 24px 24px;
  border-radius: 24px;
  border-top: none;
  }


img {
  width: 100%;
}  

h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
}
h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;  
}
h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Young Serif", serif;
}
h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Young Serif", serif;
}
p {
  color: hsl(30, 10%, 34%);
}
section {
  border-top: 1px solid hsl(30, 18%, 87%);
}
tr {
  border-bottom: 1px solid hsl(30, 18%, 87%); 
}
td:last-child {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
  
  


  


